@media screen and (max-width: 992px) {
  .content-part h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .match {
    flex-direction: column;
    gap: 0;
  }
  .upcoming-sec {
    flex-direction: row;
    background-color: white;
  }

  .card img {
    width: 100%;
  }
  .upcoming-sec button {
    flex: 1;
    border: 1px solid rgb(232, 232, 232);
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
